cryptography
pycryptodome
colorama
whois
dnspython
rich
google-generativeai
prompt-toolkit
speedtest-cli
paramiko
psutil
requests
GPUtil
faker
mysql-connector-python
sqlite3
dnsresolver
ftplib
concurrent.futures
selenium
webdriver-manager
qrcode
Pillow
mediapipe
cv2